.date-picker {
  position: relative;
  display: block;
  width: 100%;

  & .content {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .icon {
    cursor: pointer;
    margin: 0 4px;
    height: 1em;
    width: 1em;
  }

  .calendar-icon {
    position: relative;
    right: 2em;
    cursor: pointer;
    height: 1em;
    display: flex;
    align-items: center;
    width: 0;
    margin: 0;

    & svg {
      position: absolute;
      width: 1em;
      height: 1em;
      z-index: 1;
    }
  }

  .calendar {
    position: absolute;
    z-index: 1000;
    right: 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: black 0 0 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .calendar.show {
    max-height: 500px;
  }

  .header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .header, .body, .calendar, .row {
    width: 250px;
  }

  .row {
    display: flex;
  }

  .header div {
    display: flex;
    align-items: center;
  }

  .col {
    flex: 1;
    padding: 10px 5px;
    text-align: center;
  }

  .day, .cell {
    font-size: 12px;
  }

  .cell {
    cursor: pointer;

    &:hover {
      background-color: rgba(240, 240, 240, 0.5);
      border-radius: 100%;
    }
  }

  .cell.disabled {
    & span {
      opacity: 0;
    }
  }

  .cell.selected {
    border-radius: 100%;
    background-color: rgba(240, 240, 240, 0.5);
  }

  .spacer {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(240, 240, 240, 0.5);
    height: 1px;
  }

  .current-date {
    display: block;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
  }

  input {
    width: 100%;
  }

}

#calendarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}
